@import '{}/client/main.scss';
section {
  @include grid-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  md-toolbar {
    .home-icon {
      font-size: 30px;
      color: black;
      cursor: pointer;
      &:hover,
      &:focus {
        color: $dark-red;
      }
    }
  }
  expose-edit {
    width: 50%;
  }
  .creation {
    @include grid-column(12);
    display: flex;
    align-items: stretch;
    justify-content: center;
    @include grid-media($large) {
      flex-direction: column;
    }
    artwork-add {
      @include grid-column(6);
      @include grid-media($large) {
        @include grid-column(12);
      }
      padding: 3%;
    }
    album-create {
      @include grid-column(6);
      @include grid-media($large) {
        @include grid-column(12);
      }
      padding: 3%;
    }
  }
  artwork-grid {
    @include grid-column(12);
    padding: 1%;
  }
  album-list {
    @include grid-column(12);
    margin: 0;
  }
}

md-grid-list {
  margin: 0 4px 0 4px;
  md-grid-tile {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
}
