<section id='navigation'>
  <div id='menu-bar'>
    <ul>
      <a [routerLink]="['/']">
        <li>Home</li>
      </a>
      <a [routerLink]="['/photography']">
        <li>Photography</li>
      </a>
      <a [routerLink]="['/sculpture']">
        <li>Sculpture</li>
      </a>
      <a [routerLink]="['/writing']">
        <li>Writing</li>
      </a>
      <a [routerLink]="['/travels']">
        <li>Travels</li>
      </a>
      <!--<a [routerLink]="['/about']">
        <li>About</li>
      </a>-->
    </ul>
  </div>
</section>
<div id='menu-bar-placeholder'></div>
