@import '{}/client/main.scss';
section {
  @include grid-container;
  @include size(100%);
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  z-index: 11;
  background: rgba(0, 0, 0, 0.8);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  .overlay {
    @include size(100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    background: transparent;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    @include grid-column(1);
    margin: 0;
    color: #AAA;
    z-index: 13;
    &.left,
    &.right {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      height: 50%;
    }
    &.close {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
    }
    &:hover,
    &:focus {
      color: #FFF;
    }
  }
  figure {
    @include grid-column(10);
    margin: 0;
    z-index: 13;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #111;
    border-radius: 4px 4px 4px 4px;
    overflow: hidden;
    opacity: 1;
    animation: fadeIn 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .image {
      animation: fadeIn 0.3s;
      img {
        @include size(100%);
        max-height: 80vh;
        object-fit: contain;
      }
      .download-placeholder {
        padding-top: 50px;
        cursor: pointer;
        i {
          display: inline-block;
          width: 100%;
          text-align: center;
          color: white;
          font-size: 300px;
        }
      }
    }
    .description {
      padding: 1% 3% 1% 3%;
      max-height: 20vh;
      background-color: white;
      border-top: 1px solid rgba(255, 255, 255, 0.9);
      display: flex;
      align-self: stretch;
      flex-direction: column;
      justify-content: center;
      h4 {
        margin: 0;
        text-transform: capitalize;
        color: black;
        vertical-align: middle;
      }
      p {
        color: black;
        text-align: justify;
      }
    }
    .edit {
      width: 98%;
      max-height: 250px;
      padding: 10px 1% 10px 1%;
      border-top: 1px solid rgba(255, 255, 255, 0.9);
      color: black;
      background-color: white;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
