@import '{}/client/main.scss';

#icons {
  margin-left: 1.5%;
  margin-right: 1.5%;
  display: block;
  float: right;
  -webkit-filter: opacity(0.85);
  filter: opacity(0.85);
}

#icons:hover {
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

#footer {
  #submenu {
    @include grid-container;
    padding: 0.75%;
    display: block;
    background-color: #F1F1F1;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    text-align: center;

    .inner {
      @include grid-column(6);
    }

    h1 {
      font-weight: normal;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      margin: 0px;
      color: #333333;
    }
    p {
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      margin: 0px;
      color: #333333;
    }
  }
  #copyright {
    @include grid-column(12);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding: 0.5%;
    color: #333;
    text-align: center;
  }
  #bottom-links {
    padding: 0.50%;
    display: block;
    background-color: #F1F1F1;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    display: block;
    overflow: auto;
    a {
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
      margin: 0px;
      color: #333333;
      float: left;
      text-align: center;
      width: 33%; //Depends on the amount of links
    }
  }
}
