<div id="footer">
  <div id="submenu">
    <div class="inner">
      <a href="mailto:frankstanford@yahoo.com">
        <h1 align="justify">Email: frankstanford@yahoo.com</h1>
      </a>
      <p align="justify">Frank Stanford</p>
      <p align="justify">- Artist</p>
    </div>
    <div class="inner">
      <a href=""><img id="icons" src='/images/icons/youtube.png' alt="Youtube" width="45" height="45"></a>
      <a href="https://www.facebook.com/frank.stanford.9"><img id="icons" src="/images/icons/facebook.png" alt="Facebook" width="45" height="45"></a>
      <a href="mailto:frankstanford@yahoo.com"><img id="icons" src="/images/icons/mail.png" alt="Email" width="45" height="45"></a>
    </div>
  </div>
  <div id="copyright">© {{year}} Website Designed by Randy Ardywibowo</div>
  <div class="clear"></div>
</div>
